<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<dao namespace="UserSqlMap">-->
<mapper namespace="com.great.childschool.mapper.TjzBackMapper">




    <!-- 查询课程管理-->
    <select id="teacherCourseQuery" parameterType="map" resultType="com.great.childschool.entity.TjzTbClassRoom">
        SELECT cl.cid,cl.cname,wo.wname,cl.classroom,cl.courseadddate
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
        AND wo.wid=#{wid}
        <if test="cName !=null and cName!=''">
            AND cl.cname like '%' #{cName} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND cl.courseadddate &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND cl.courseadddate &lt;= #{endDate}
        </if>
        LIMIT #{pstart},#{psize}
    </select>

    <!--查询课程管理数量-->
    <select id="teacherCourseQueryNum" parameterType="map" resultType="int">
        SELECT COUNT(cl.cid)
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
        AND wo.wid=#{wid}
        <if test="cName !=null and cName!=''">
            AND cl.cname like '%' #{cName} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND cl.courseadddate &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND cl.courseadddate &lt;= #{endDate}
        </if>
    </select>


    <!-- 教师查询课程-->
    <select id="teacherCourseTable" parameterType="map" resultType="com.great.childschool.entity.TjzTbCourse">
        SELECT co.couid,sub.subname,co.cdate,co.corder,sub.subid
        FROM tbl_course co,tbl_subject sub,tbl_classroom cl
        WHERE co.subid = sub.subid
        AND cl.wid=#{wid}
        AND cl.cid=#{cid}
        AND cl.cid=co.cid
        AND co.cdate &gt;= #{startDate}
        AND co.cdate &lt;= #{endDate}
    </select>


    <!-- 排课-->
    <update id="addSubject">
            UPDATE tbl_course set subid =#{subId} WHERE couid=#{couId}
     </update>


    <!-- 查询科目-->
    <select id="findSubject" parameterType="int" resultType="com.great.childschool.entity.TjzTbSubject">
        SELECT * FROM tbl_subject
    </select>


    <!-- 查询课程-->
    <select id="courseTable" parameterType="map" resultType="com.great.childschool.entity.TjzTbCourse">
        SELECT co.couid,sb.subname,co.cdate,co.corder,sb.subid
        FROM tbl_course co,tbl_subject sb,tbl_classroom cl
        WHERE co.subid=sb.subid
        AND co.cid=cl.cid
        AND cl.cid=#{cid}
        AND co.cdate &gt;= #{startDate}
        AND co.cdate &lt;= #{endDate}
    </select>

    <!-- 查询课程管理-->
    <select id="courseManagement" parameterType="map" resultType="com.great.childschool.entity.TjzTbClassRoom">
        SELECT cl.cid,cl.cname,wo.wname,cl.classroom,cl.courseadddate
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
            <if test="cName !=null and cName!=''">
                AND cl.cname like '%' #{cName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND cl.courseadddate &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND cl.courseadddate &lt;= #{endDate}
            </if>
        LIMIT #{pstart},#{psize}
    </select>

    <!--查询课程管理数量-->
    <select id="courseManagementNum" parameterType="map" resultType="int">
        SELECT COUNT(cl.cid)
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
        <if test="cName !=null and cName!=''">
            AND cl.cname like '%' #{cName} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND cl.courseadddate &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND cl.courseadddate &lt;= #{endDate}
        </if>
    </select>

    <!-- 查询日志-->
    <select id="findLog" parameterType="map" resultType="com.great.childschool.entity.TjzTbLog">
        SELECT * FROM tb_log
        <where>
            <if test="userName !=null and userName!=''">
                AND operator like '%' #{userName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND operationtime &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND operationtime &lt;= #{endDate}
            </if>
        </where>
        LIMIT #{pstart},#{psize}
    </select>

    <!--    查询日志数量-->
    <select id="findLogNum" parameterType="map" resultType="int">
        SELECT COUNT(logid) FROM tb_log
        <where>
            <if test="userName !=null and userName!=''">
                AND operator like '%' #{userName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND operationtime &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND operationtime &lt;= #{endDate}
            </if>
        </where>
    </select>

    <!--    增加日志-->
    <insert id="addLog" parameterType="com.great.childschool.entity.TjzTbLog">
        INSERT INTO tb_log(operator,operationtime,operationalmatters)
        VALUES (#{operator},#{operationTime},#{operationalMatters})
    </insert>



    <!-- 批量插入生成的兑换码 -->
    <insert id ="insertCodeBatch" parameterType="java.util.List" >
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"
                   order= "AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey >
        insert into tbl_course
        (cdate, cid, subid, corder)
        values
        <foreach collection ="list" item="course" index= "index" separator =",">
            (
            #{course.cDate},
            #{course.cid},
            #{course.subId},
            #{course.cOrder}
            )
        </foreach >
    </insert >


</mapper>