<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<dao namespace="UserSqlMap">-->
<mapper namespace="com.great.childschool.mapper.TjzBackMapper">


    <!-- 考试记录分数赋值-->
    <update id="addTotalScore" parameterType="com.great.childschool.entity.TjzTblSafeStudy">
       UPDATE tbl_parent_safestudy SET totalscore=#{totalScore}
        WHERE safeid=#{safeId}
        AND pid=#{pid}
    </update>


    <!-- 查看得分-->
    <select id="queryScore" parameterType="map" resultType="com.great.childschool.entity.TjzTblquestion">
       SELECT qu.*,ps.myanswer
       FROM tbl_parent_safestudy ps,tbl_question qu
       WHERE ps.questionid=qu.questionid
       AND ps.pid=#{pid}
       AND ps.safeid=#{safeId}
    </select>


    <!-- 验证试题答案-->
    <select id="checkAnswer" parameterType="map" resultType="com.great.childschool.entity.TjzTblquestion">
      SELECT *
      FROM tbl_question
      WHERE questionid=#{questionId}
    </select>

    <!-- 添加考试记录-->
    <insert id="addTestRecord" parameterType="com.great.childschool.entity.TjzTblSafeStudy">
       INSERT INTO tbl_parent_safestudy (pid, safeid, score, submittime, questionid,myanswer)
       VALUES(#{pid},#{safeId},#{score},#{submitTime},#{questionId},#{myAnswer})
    </insert>



    <!--    修改安全教育考试题目-->
    <update id="updateQuestion" parameterType="com.great.childschool.entity.TjzTblquestion">
       UPDATE tbl_question
        <set>
            <if test="question!=null  and question!=''">
                question=#{question},
            </if>
            <if test="optionA!=null  and optionA!=''">
                optiona=#{optionA},
            </if>
            <if test="optionB!=null  and optionB!=''">
                optionb=#{optionB},
            </if>
            <if test="answer!=null  and answer!=''">
                answer=#{answer},
            </if>
        </set>
        WHERE questionid=#{questionId}
    </update>




    <!--    删除安全教育考试题目-->
    <delete id="deleteQuestion" parameterType="int">
              DELETE FROM tbl_question WHERE questionid =#{questionId}
    </delete>


    <!-- 添加安全教育试题目-->
    <insert id="addSafeStudyTest" parameterType="com.great.childschool.entity.TjzTblquestion">
       INSERT INTO tbl_question (question, optiona, optionb, answer, safeid)
       VALUES(#{question},#{optionA},#{optionB},#{answer},#{safeId})
    </insert>


    <!-- 安全教育试题页面-->
    <select id="addSafeStudyTestView" parameterType="map" resultType="com.great.childschool.entity.TjzTblquestion">
       SELECT qu.*
       FROM tbl_question qu
       WHERE qu.safeid
       AND qu.safeid=#{safeId}
       ORDER BY qu.questionid
    </select>


    <!--    教师修改安全教育视频-->
    <update id="updateVideo" parameterType="com.great.childschool.entity.TjzTblSafeStudy">
       UPDATE tbl_safestudy SET safename=#{safeName},startdate=#{startDate},enddate=#{endDate},vurl=#{vUrl}
        WHERE safeid=#{safeId}
    </update>


    <!--    删除安全教育视频-->
    <delete id="delSafeStudyVideo" parameterType="int">
              DELETE FROM tbl_safestudy WHERE safeid =#{safeId}
          </delete>


    <!-- 电子围栏查询报警日志数量-->
    <select id="findWarningNum" parameterType="map" resultType="int">
        SELECT COUNT(wa.warnid)
        FROM tbl_warning wa,tbl_baby ba
        WHERE wa.bid=ba.bid
        <if test="area !=null and area!=''">
            AND area like '%' #{area} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND warntime &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND warntime &lt;= #{endDate}
        </if>
    </select>


    <!-- 电子围栏查询报警日志-->
    <select id="findWarning" parameterType="map" resultType="com.great.childschool.entity.TjzTblWarning">
        SELECT wa.*,ba.bname
        FROM tbl_warning wa,tbl_baby ba
        WHERE wa.bid=ba.bid
            <if test="area !=null and area!=''">
                AND area like '%' #{area} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND warntime &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND warntime &lt;= #{endDate}
            </if>
        LIMIT #{pstart},#{psize}
    </select>



    <!-- 电子围栏查询孩子-->
    <select id="fenceBaby" resultType="com.great.childschool.entity.TjzTblBaby">
    SELECT  pa.pphone,ba.bname,pa.pname
    FROM tbl_parent_baby pb,tbl_parent pa,tbl_baby ba
    WHERE   pa.pid=pb.pid
    AND ba.bid=pb.bid
    AND ba.bid=#{bid}
    </select>


    <!--    添加报警信息-->
    <insert id="addWarning" parameterType="com.great.childschool.entity.TjzTblWarning">
        INSERT INTO tbl_warning(bid,area,warntime,warnname)
        VALUES (#{bid},#{area},#{warnTime},#{warnName})
    </insert>


    <!--教师查看查看班级安全教育-->
    <select id="classSafeStudy" parameterType="map" resultType="com.great.childschool.entity.TjzTblBaby">
        SELECT cl.cname,ba.bid,ba.bname,pa.pname,pa.pid
        FROM tbl_classroom cl,tbl_baby ba,tbl_parent pa,tbl_parent_baby pb
        WHERE cl.cid=#{cid}
        <if test="bName !=null and bName!=''">
            AND ba.bname like '%' #{bName} '%'
        </if>
        AND cl.cid=ba.cid
        AND ba.bid=pb.bid
        AND pb.pid=pa.pid
        LIMIT #{pstart},#{psize}
    </select>

    <!--教师查看班级安全教育数量-->
    <select id="classSafeStudyNum" parameterType="map" resultType="int">
        SELECT COUNT(ba.bid)
        FROM tbl_classroom cl,tbl_baby ba,tbl_parent pa,tbl_parent_baby pb
        WHERE cl.cid=#{cid}
        <if test="bName !=null and bName!=''">
            AND ba.bname like '%' #{bName} '%'
        </if>
        AND cl.cid=ba.cid
        AND ba.bid=pb.bid
        AND pb.pid=pa.pid
    </select>



    <!--教师发布安全教育试题数量-->
    <select id="parentSafeStudyNum" parameterType="map" resultType="int">
        SELECT COUNT(sa.safeid)
        FROM tbl_safestudy sa
        LEFT JOIN (SELECT DISTINCT ps.pid,ps.safeid,ps.totalscore FROM tbl_parent_safestudy ps WHERE ps.pid=#{pid}) psa
        ON sa.safeid=psa.safeid
        <where>
            <if test="safeName !=null and safeName!=''">
                AND safename like '%' #{safeName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND safedate &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND safedate &lt;= #{endDate}
            </if>
        </where>
    </select>


    <!-- 家长查看安全教育-->
    <select id="parentSafeStudy" parameterType="map" resultType="com.great.childschool.entity.TjzTblSafeStudy">
        SELECT sa.*,psa.totalscore
        FROM tbl_safestudy sa
        LEFT JOIN (SELECT DISTINCT ps.pid,ps.safeid,ps.totalscore FROM tbl_parent_safestudy ps WHERE ps.pid=#{pid}) psa
        ON sa.safeid=psa.safeid
        <where>
            <if test="safeName !=null and safeName!=''">
                AND safename like '%' #{safeName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND safedate &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND safedate &lt;= #{endDate}
            </if>
        </where>
        LIMIT #{pstart},#{psize}
    </select>

    <!-- 教师上传安全教育试题-->
    <update id="uploadTest" parameterType="com.great.childschool.entity.TjzTblSafeStudy">
       UPDATE tbl_safestudy SET testurl=#{testUrl} WHERE safeid=#{safeId}
    </update>

    <!--    教师上传安全教育视频-->
    <insert id="uploadVideo" parameterType="com.great.childschool.entity.TjzTblSafeStudy">
        INSERT INTO tbl_safestudy(safename,startdate,enddate,safedate,vurl,wid)
        VALUES (#{safeName},#{startDate},#{endDate},#{safeDate},#{vUrl},#{wid})
    </insert>


    <!-- 安全教育管理-->
    <select id="safeStudyManagement" parameterType="map" resultType="com.great.childschool.entity.TjzTblSafeStudy">
        SELECT *
        FROM tbl_safestudy
        <where>
            <if test="safeName !=null and safeName!=''">
                AND safename like '%' #{safeName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND safedate &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND safedate &lt;= #{endDate}
            </if>
        </where>
        LIMIT #{pstart},#{psize}
    </select>

    <!--安全教育视频管理数量-->
    <select id="safeStudyManagementNum" parameterType="map" resultType="int">
        SELECT COUNT(safeid)
        FROM tbl_safestudy
        <where>
            <if test="safeName !=null and safeName!=''">
                AND safename like '%' #{safeName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND safedate &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND safedate &lt;= #{endDate}
            </if>
        </where>
    </select>

    <!-- 按人员统计日志-->
    <select id="logCountByWid" parameterType="com.great.childschool.entity.TjzTblParent" resultType="com.great.childschool.entity.TjzLogCount">
     SELECT wo.wname,lc.*
     FROM tbl_worker wo,(
     SELECT lo.wid,COUNT(lo.wid) AS 'count'
     FROM tbl_log lo
     GROUP BY lo.wid) lc
     WHERE wo.wid=lc.wid
    </select>

    <!-- 按月统计日志-->
    <select id="logCountByMonth" parameterType="com.great.childschool.entity.TjzTblParent" resultType="com.great.childschool.entity.TjzLogCount">
      SELECT YEAR(ldate) AS 'year' , MONTH(ldate) AS 'month' , COUNT(*) AS 'count'
      FROM tbl_log
      GROUP BY YEAR (ldate) DESC, MONTH(ldate)
    </select>


    <!-- 家长修改密码-->
    <update id="parentChangePassword" parameterType="com.great.childschool.entity.TjzTblParent" >
       UPDATE tbl_parent SET ppsw=#{ppsw} WHERE pid=#{pid}
    </update>

    <!-- 家长查询旧密码是否正确-->
    <select id="parentOldPassword" parameterType="com.great.childschool.entity.TjzTblParent" resultType="com.great.childschool.entity.TjzTblParent">
       SELECT tbl_parent.ppsw
       FROM tbl_parent
       WHERE tbl_parent.pid=#{pid}
    </select>


    <!-- 家长查询课程-->
    <select id="parentCourseTable" parameterType="map" resultType="com.great.childschool.entity.TjzTbCourse">
        SELECT co.couid,sub.subname,co.cdate,co.corder,sub.subid
        FROM tbl_baby ba,tbl_course co,tbl_subject sub
        WHERE ba.bid=#{bid}
        AND ba.cid=co.cid
        AND co.subid = sub.subid
        AND co.cdate &gt;= #{startDate}
        AND co.cdate &lt;= #{endDate}
    </select>


    <!-- 家长查询孩子班级-->
    <select id="parentCourseQuery" parameterType="map" resultType="com.great.childschool.entity.TjzTbClassRoom">
        SELECT ba.bid,ba.bname,cl.cid,cl.cname,wo.wname,cl.classroom
        FROM tbl_parent_baby pb,tbl_baby ba,tbl_classroom cl,tbl_worker wo
        WHERE pb.pid=#{pid}
        AND pb.bid=ba.bid
        AND ba.cid=cl.cid
        AND wo.wid=cl.wid
    </select>


    <!--家长查询孩子班级数量-->
    <select id="parentCourseQueryNum" parameterType="map" resultType="int">
        SELECT COUNT(ba.bid)
       FROM tbl_parent_baby pb,tbl_baby ba,tbl_classroom cl,tbl_worker wo
        WHERE pb.pid=#{pid}
        AND pb.bid=ba.bid
        AND ba.cid=cl.cid
        AND wo.wid=cl.wid
    </select>


    <!-- 教师查询班级-->
    <select id="teacherCourseQuery" parameterType="map" resultType="com.great.childschool.entity.TjzTbClassRoom">
        SELECT cl.cid,cl.cname,wo.wname,cl.classroom,cl.courseadddate
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
        AND wo.wid=#{wid}
        <if test="cName !=null and cName!=''">
            AND cl.cname like '%' #{cName} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND cl.courseadddate &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND cl.courseadddate &lt;= #{endDate}
        </if>
        LIMIT #{pstart},#{psize}
    </select>

    <!--教师查询班级数量-->
    <select id="teacherCourseQueryNum" parameterType="map" resultType="int">
        SELECT COUNT(cl.cid)
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
        AND wo.wid=#{wid}
        <if test="cName !=null and cName!=''">
            AND cl.cname like '%' #{cName} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND cl.courseadddate &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND cl.courseadddate &lt;= #{endDate}
        </if>
    </select>

    <!-- 教师查询课程-->
    <select id="teacherCourseTable" parameterType="map" resultType="com.great.childschool.entity.TjzTbCourse">
        SELECT co.couid,sub.subname,co.cdate,co.corder,sub.subid
        FROM tbl_course co,tbl_subject sub,tbl_classroom cl
        WHERE co.subid = sub.subid
        AND cl.wid=#{wid}
        AND cl.cid=#{cid}
        AND cl.cid=co.cid
        AND co.cdate &gt;= #{startDate}
        AND co.cdate &lt;= #{endDate}
    </select>

    <!-- 园长排课-->
    <update id="addSubject">
            UPDATE tbl_course set subid =#{subId} WHERE couid=#{couId}
     </update>

    <!-- 科目下拉框-->
    <select id="findSubject" parameterType="int" resultType="com.great.childschool.entity.TjzTbSubject">
        SELECT * FROM tbl_subject
    </select>

    <!-- 园长查询课程-->
    <select id="courseTable" parameterType="map" resultType="com.great.childschool.entity.TjzTbCourse">
        SELECT co.couid,sb.subname,co.cdate,co.corder,sb.subid
        FROM tbl_course co,tbl_subject sb,tbl_classroom cl
        WHERE co.subid=sb.subid
        AND co.cid=cl.cid
        AND cl.cid=#{cid}
        AND co.cdate &gt;= #{startDate}
        AND co.cdate &lt;= #{endDate}
    </select>

    <!-- 园长查询班级-->
    <select id="courseManagement" parameterType="map" resultType="com.great.childschool.entity.TjzTbClassRoom">
        SELECT cl.cid,cl.cname,wo.wname,cl.classroom,cl.courseadddate
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
            <if test="cName !=null and cName!=''">
                AND cl.cname like '%' #{cName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND cl.courseadddate &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND cl.courseadddate &lt;= #{endDate}
            </if>
        LIMIT #{pstart},#{psize}
    </select>

    <!--园长查询班级数量-->
    <select id="courseManagementNum" parameterType="map" resultType="int">
        SELECT COUNT(cl.cid)
        FROM tbl_classroom cl,tbl_worker wo
        WHERE cl.wid=wo.wid
        <if test="cName !=null and cName!=''">
            AND cl.cname like '%' #{cName} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND cl.courseadddate &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND cl.courseadddate &lt;= #{endDate}
        </if>
    </select>

    <!-- 查询日志-->
    <select id="findLog" parameterType="map" resultType="com.great.childschool.entity.TjzTbLog">
        SELECT l.lid,l.ltime,l.ldate,l.levent,wo.wname FROM tbl_log l,tbl_worker wo
        WHERE l.wid=wo.wid
            <if test="wName !=null and wName!=''">
                AND wo.wname like '%' #{wName} '%'
            </if>
            <if test="startDate !=null and startDate!=''">
                AND l.ldate &gt;= #{startDate}
            </if>
            <if test="endDate !=null and endDate!=''">
                AND l.ldate &lt;= #{endDate}
            </if>
        ORDER BY l.ldate DESC,l.ltime DESC
        LIMIT #{pstart},#{psize}
    </select>

    <!--    查询日志数量-->
    <select id="findLogNum" parameterType="map" resultType="int">
        SELECT COUNT(l.lid) FROM tbl_log l,tbl_worker wo
        WHERE l.wid=wo.wid
        <if test="wName !=null and wName!=''">
            AND wo.wname like '%' #{wName} '%'
        </if>
        <if test="startDate !=null and startDate!=''">
            AND l.ltime &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate!=''">
            AND l.ltime &lt;= #{endDate}
        </if>
    </select>

    <!--    添加日志-->
    <insert id="addLog" parameterType="com.great.childschool.entity.TjzTbLog">
        INSERT INTO tbl_log(wid,ltime,levent,ldate)
        VALUES (#{wid},#{lTime},#{lEvent},#{lDate})
    </insert>

    <!-- 批量插入未排班课程 -->
    <insert id ="insertCodeBatch" parameterType="java.util.List" >
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"
                   order= "AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey >
        insert into tbl_course
        (cdate, cid, subid, corder)
        values
        <foreach collection ="list" item="course" index= "index" separator =",">
            (
            #{course.cDate},
            #{course.cid},
            #{course.subId},
            #{course.cOrder}
            )
        </foreach >
    </insert >


</mapper>