<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.great.childschool.mapper.YjjBookReadMapper">
    <select id="findBook" parameterType="YjjSearchInfo" resultType="YjjTblReadbook">
        select * from (select @rownum:=@rownum+1 as RN,A.* FROM (select @rownum:=0,tbl_readbook.*,tbl_worker.wname from tbl_worker,tbl_readbook
        where tbl_readbook.wid=tbl_worker.wid
        <if test="bName!=null and bName!=''">
            AND bookname like "%" #{bName}"%"
        </if>

        <if test="startDate!=null and startDate!=''">
            <if test="endDate!=null and endDate!=''">
                AND uploaddate BETWEEN #{startDate} and #{endDate}
            </if>
        </if>

        )A )B where B.RN BETWEEN ((${page} - 1)* ${limit}+1) AND ${page}*${limit}
    </select>
    <!--    总条数-->
    <select id="totalPage" parameterType="YjjSearchInfo" resultType="YjjTblReadbook">
        select * from (select @rownum:=@rownum+1 as RN,A.* FROM (select @rownum:=0,tbl_readbook.*,tbl_worker.wname from tbl_worker,tbl_readbook
        where tbl_readbook.wid=tbl_worker.wid

        <if test="bName!=null and bName!=''">
            AND bookname like "%" #{bName}"%"
        </if>
        <if test="startDate!=null and startDate!=''">
            <if test="endDate!=null and endDate!=''">
                AND uploaddate BETWEEN #{startDate} and #{endDate}
            </if>
        </if>
        )A )B
    </select>



    <select id="findBookPage" parameterType="YjjSearchInfo" resultType="YjjTblBookPage">
        select * from (select @rownum:=@rownum+1 as RN,A.* FROM (select @rownum:=0,tbl_book_page.*,tbl_worker.wname,tbl_readbook.bookname from tbl_worker,tbl_book_page,tbl_readbook
        where tbl_book_page.wid=tbl_worker.wid and tbl_readbook.bookid=tbl_book_page.bookid and tbl_readbook.bookname=#{bName} ORDER BY pagenum ASC
        )A )B where B.RN BETWEEN ((${page} - 1)* ${limit}+1) AND ${page}*${limit}
    </select>
    <!--    总条数-->
    <select id="totalBookPage" parameterType="YjjSearchInfo" resultType="YjjTblBookPage">
        select * from (select @rownum:=@rownum+1 as RN,A.* FROM (select @rownum:=0,tbl_book_page.*,tbl_worker.wname,tbl_readbook.bookname from tbl_worker,tbl_book_page,tbl_readbook
        where tbl_book_page.wid=tbl_worker.wid and tbl_readbook.bookid=tbl_book_page.bookid and tbl_readbook.bookname=#{bName} ORDER BY pagenum ASC
        )A )B
    </select>











</mapper>